#game {
 width:  800;
}
li {
  list-style: none;
  float: left;
  outline: solid;
  margin: 1px;
  width: 99px;
  height: 99px;
  font-size: 90px;
  text-align: center;
} 
#score {
  float: left;
}
#moves {
  float: left;
  height: 350px;
  background: cyan;
}#games {
  float: left;
  height: 350px;
  background: cyan;
}