#game { 
 width: 800px; 
}
li {
  list-style: none;
  float: left;
  outline: solid;
  margin: 10px;
  width: 170px;
  height: 150px;
  font-size: 8em;
  text-align: center;
} 
#score {
  float: left;
}
#moves {
  float: left;
  height: 350px;
  background: cyan;
}#games {
  float: left;
  height: 350px;
  background: cyan;
}